html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: slategray;
    background-image: url('../img/Eloquent Hotel-261102.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Custom CSS styles for labels */
.form-group label.control-label {
    color: #fff; /* Label text color (white) */
    font-weight: bold; /* Bolden the label text */
    font-size: 16px; /* Increase label font size */
}

/* Hover effect for form fields */
.form-control:hover {
    background-color: #f8f9fa; /* Background color on hover */
}

.text-center {
    font-weight: bold;
    color: #007bff;
    font-size: 36px;
}